.heroSection {
    background-image: url("/background.png");
    min-height: 290px;
    background-position: center;
    margin-top: 70px;
}

.heroText {
    color: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText h1 {
    margin: 0;
}

.heroText p {
    font-size: 18px;
    line-height: 1.4;
    padding-left: 33%;
    padding-right: 33%;
    font-weight: 400;
}

.heroButton {
    text-align: center;
    background-color: var(--color-red);
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
    .heroText p {
        padding: 0;
    }

    .heroText {
        padding-left: 10px;
        padding-right: 10px;
    }
}