.heroSection {
    background-image: url("/background.png");
    min-height: 290px;
    background-position: 80% 60%;
}

.heroText {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText h1 {
    margin: 0;
}

.heroText p {
    font-size: 18px;
    line-height: 1.4;
    padding-left: 33%;
    padding-right: 33%;
    font-weight: 400;
}

.heroButton {
    text-align: center;
    background-color: var(--color-red);
}

